$breakpoint_tablet: 1024px;
$breakpoint_mobile: 560px;

$primary_color: #ffffff;
$second_color: hsl(278, 68%, 11%);
$second_color_hover: hsl(278, 66%, 27%);
$error_color: rgb(168, 0, 0);

$bg_desktop: "../assets/bg-main-desktop.png";
$bg_mobile: "../assets/bg-main-mobile.png";
$bg_front_card: "../assets/bg-card-front.png";
$bg_back_card: "../assets/bg-card-back.png";